body {
    font-family: "Gowun Batang", serif;
    background-color: black;
    margin: 0px;
}

#book {
    width: 400px;
    height: 600px;
    background-color: rgb(255, 250, 199);
    background-image: url("paper-texture.jpeg");
    background-size: cover;
    background-position: center;
    border-radius: 10px 30px 10px 30px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    position: relative;
    border-radius: 5px 5px 5px 5px;



}

#background {
    display: flex;
    background-color: rgb(16, 16, 19);
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: absolute;
}

#title {
    font-family: "Imbue", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 100px;
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
}

#letter {
    font-size: 13px;
    position: absolute;
    bottom: 250px;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
}

#letter1 {
    font-size: 13px;
    position: absolute;
    bottom: 230px;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
}

#letter2 {
    font-size: 13px;
    position: absolute;
    bottom: 210px;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
}

#letter3 {
    font-size: 13px;
    position: absolute;
    bottom: 190px;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
}

#start {
    font-family: "Imbue", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 40px;
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
}

#emoji {
    font-size: 40px;
    position: absolute;
    top: 190px;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
}


#chapter {
    font-family: "Grandiflora One", cursive;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 25px;
    position: absolute;
    top: 40px;
    left: 5%;

}

#story1 {
    font-size: 11px;
    position: absolute;
    bottom: 220px;
    left: 5%;
    white-space: nowrap;
    line-height: 1.8;
    text-align: left;
}



#next {
    font-family: "Grandiflora One", cursive;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    position: absolute;

    bottom: 40px;
    right: 5%;

}

#back {
    font-family: "Grandiflora One", cursive;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    position: absolute;

    bottom: 40px;
    left: 5%;

}

#story2 {
    font-size: 11px;
    position: absolute;
    bottom: 250px;
    left: 5%;
    white-space: nowrap;
    line-height: 1.8;
    text-align: left;
}

#choice1 {

    font-size: 13px;
    position: absolute;
    bottom: 180px;
    left: 5%;
    white-space: nowrap;
    line-height: 1.8;
    text-align: left;

}

#choice2 {

    font-size: 13px;
    position: absolute;
    bottom: 160px;
    left: 5%;
    white-space: nowrap;
    line-height: 1.8;
    text-align: left;
}

#story3-1 {
    font-size: 11px;
    position: absolute;
    bottom: 130px;
    left: 5%;
    white-space: nowrap;
    line-height: 1.8;
    text-align: left;
}

#choice3 {

    font-size: 13px;
    position: absolute;
    bottom: 100px;
    left: 5%;
    white-space: nowrap;
    line-height: 1.8;
    text-align: left;

}

#choice4 {

    font-size: 13px;
    position: absolute;
    bottom: 80px;
    left: 5%;
    white-space: nowrap;
    line-height: 1.8;
    text-align: left;
}


#story3-2 {
    font-size: 11px;
    position: absolute;
    bottom: 130px;
    left: 5%;
    white-space: nowrap;
    line-height: 1.8;
    text-align: left;
}

#back1 {
    font-family: "Grandiflora One", cursive;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    position: absolute;

    bottom: 40px;
    left: 5%;


}


#back2 {
    font-family: "Grandiflora One", cursive;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    position: absolute;

    bottom: 40px;
    left: 40%;

}

#story4-1 {
    font-size: 11px;
    position: absolute;
    bottom: 130px;
    left: 5%;
    white-space: nowrap;
    line-height: 1.8;
    text-align: left;
}

#choice5 {

    font-size: 13px;
    position: absolute;
    bottom: 105px;
    left: 5%;
    white-space: nowrap;
    line-height: 1.8;
    text-align: left;
}

#story4-2 {
    font-size: 11px;
    position: absolute;
    bottom: 130px;
    left: 5%;
    white-space: nowrap;
    line-height: 1.8;
    text-align: left;
}

#title1 {
    font-family: "Imbue", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 100px;
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
}

#letter4 {
    font-size: 13px;
    position: absolute;
    bottom: 250px;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
}

#letter5 {
    font-size: 13px;
    position: absolute;
    bottom: 230px;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
}

#letter6 {
    font-size: 13px;
    position: absolute;
    bottom: 210px;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
}

#letter7 {
    font-size: 13px;
    position: absolute;
    bottom: 190px;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
}



#emoji1 {
    font-size: 40px;
    position: absolute;
    top: 190px;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
}

#return {
    font-family: "Imbue", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 30px;
    position: absolute;
    bottom: 80px;
    left: 50%;
    transform: translateX(-50%);



}

#nextchapter {
    font-family: "Imbue", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 30px;
    position: absolute;
    bottom: 110px;
    left: 50%;
    transform: translateX(-50%);



}